/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
.btn-save{
  background-color: #228b22;
  color: #fff;
}

.btn-save:hover{
  background-color: #808080;
}

.btn-cancel{
  background-color: transparent;
  border-color: #808080;
  color: #808080;
}
.btn-cancel:hover{
  background-color: #808080;
  color: #FFF;
  
}

.btn-add{
  background-color: #228b22;
  border-color: #228b22;
  border-radius: 100%;
  color: #fff;
  float: right;
  
}

.btn-add:hover{
  color: #fff;
  border-color:#00FF00;
}

.btn-prev{
    float:left;
}

.btn-next{
  float: right;
}

.container-navigation{
  width: 100%;
}